{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="">
        <meta name="author" content="Tooplate">

        <title>100 Destinos</title>

        <!-- CSS FILES -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/tooplate-moso-interior.css' %}" rel="stylesheet">
        

        <style>
            .shop-image {
    width: 100%; /* Faz com que a imagem ocupe toda a largura da coluna */
    height: 200px; /* Define uma altura fixa para todas as imagens */
    object-fit: cover; /* Faz com que a imagem preencha o espaço, cortando se necessário */
}

        </style>
   
   

    </head>
    
    <body>

        

        

        <main  >
            <section   class="hero-section hero-slide d-flex justify-content-center align-items-center" id="section_1"> 
            <div  class="container">
                <div class="row">
                    <div class="col-lg-8 col-12 text-center mx-auto">
                        <div class="hero-section-text">

                            <div class="d-flex justify-content-center align-items-center">
                                <form class="custom-form hero-form" action="#" method="get" role="form">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-12">
                                            <div class="input-group align-items-center">
                                                <label for="product-name">Onde voce vai?</label>
                                                <input type="text" name="product-name" id="product-name" class="form-control" placeholder="Luanda, Benguela,Huambo" required>
                                            </div>
                                        </div>


                                        
                                        
                                        <div class="col-lg-5 col-md-6 col-12">
                                            <div class="input-group align-items-center">
                                                <label for="product-name">Data</label>
                                                <input type="datetime-local" name="product-name" id="product-name" class="form-control" placeholder="Luanda, Benguela,Huambo" required>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-2 col-md-6 col-12">
                                            <button type="submit" class="form-control">Buscar</button>
                                        </div>
                                    </div>
                                </form>
                                
                                
                            </div>
                            
                            <!-- Texto abaixo do formulário -->
                            <small class="section-small-title mt-4"> <i class="hero-icon bi-bus"></i></small>
                            <h1 class="hero-title text-white mt-2 mb-4">Viaje com conforto para o seu destino</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        

        <section class="shop-section section-padding" id="section_3">
            <div class="container">
                <div class="row">
        
                    <div class="col-lg-12 col-12 text-center">
                        <small class="section-small-title"></small>
                        <h2 class="mt-2 mb-4 fs-3 fs-md-2 fs-lg-1">
                            <span class="tooplate-red">Transportadoras</span> 100 Destinos
                        </h2>
                    </div>
        
                    <div class="col-lg-4 col-md-6 col-6">
                        <div class="shop-thumb">
                            <div class="shop-image-wrap">
                                <a href="{% url 'usuarios:transportadoras' %}">
                                    <img src="{% static 'images/OIP.jpeg' %}" class="shop-image img-fluid" alt="">
                                </a>
                                <div class="shop-btn-wrap">
                                    <a href="{% url 'usuarios:transportadoras' %}" class="shop-btn custom-btn btn d-flex align-items-center">Saiba mais</a>
                                </div>
                            </div>
                            <div class="shop-body">
                                <h4>macon</h4>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 col-6">
                        <div class="shop-thumb">
                            <div class="shop-image-wrap">
                                <a href="{% url 'usuarios:transportadoras' %}">
                                    <img src="{% static 'images/R.jpeg' %}" class="shop-image img-fluid" alt="">
                                </a>
                                <div class="shop-btn-wrap">
                                    <a href="{% url 'usuarios:transportadoras' %}" class="shop-btn custom-btn btn d-flex align-items-center">Saiba mais</a>
                                </div>
                            </div>
                            <div class="shop-body">
                                <h4>Angoreal</h4>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 col-6">
                        <div class="shop-thumb">
                            <div class="shop-image-wrap">
                                <a href="{% url 'usuarios:transportadoras' %}">
                                    <img src="{% static 'images/IMG-20231018-WA0000.jpg' %}" class="shop-image img-fluid" alt="">
                                </a>
                                <div class="shop-btn-wrap">
                                    <a href="{% url 'usuarios:transportadoras' %}" class="shop-btn custom-btn btn d-flex align-items-center">Saiba mais</a>
                                </div>
                            </div>
                            <div class="shop-body">
                                <h4>HuamboExpress</h4>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 col-6">
                        <div class="shop-thumb">
                            <div class="shop-image-wrap">
                                <a href="{% url 'usuarios:transportadoras' %}">
                                    <img src="{% static 'images/OIP.jpeg' %}" class="shop-image img-fluid" alt="">
                                </a>
                                <div class="shop-btn-wrap">
                                    <a href="{% url 'usuarios:transportadoras' %}" class="shop-btn custom-btn btn d-flex align-items-center">Saiba mais</a>
                                </div>
                            </div>
                            <div class="shop-body">
                                <h4>macom</h4>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </section>
        
            


            
            <section style="margin-top: -10%;"  class="shop-section section-padding" id="section_3">
                <div class="container">
                    <div class="row">
            
                        <div class="col-lg-12 col-12">
                            <small class="section-small-title"></small>
                            <h2 class="mt-2 mb-4"><span class="tooplate-red">Nossos</span> Destinos</h2>
                        </div>
            
                        <div class="col-lg-4 col-md-6 col-6">
                            <div class="shop-thumb">
                                <div class="shop-image-wra">
                                    <a href="#">
                                        <img src="{% static 'images/Huambo.jpeg' %}" class="shop-image img-fluid" alt="">
                                    </a>
                                    <div class="shop-btn-wrap">
                                        <a href="#" class="shop-btn custom-btn btn d-flex align-items-center"></a>
                                    </div>
                                </div>
                                <div class="shop-body">
                                    <h4 style="font-size: 22px;" >Huambo, Huila</h4>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-lg-4 col-md-6 col-6">
                            <div class="shop-thumb">
                                <div class="shop-image-wra">
                                    <a href="#">
                                        <img src="{% static 'images/lubango.jpeg' %}" class="shop-image img-fluid" alt="">
                                    </a>
                                    <div class="shop-btn-wrap">
                                        <a href="#" class="shop-btn custom-btn btn d-flex align-items-center"></a>
                                    </div>
                                </div>
                                <div class="shop-body">
                                    <h4 style="font-size: 22px;" >Lubango, Cabinda</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-6">
                            <div class="shop-thumb">
                                <div class="shop-image-wra">
                                    <a href="#">
                                        <img src="{% static 'images/Benguela.jpeg' %}" class="shop-image img-fluid" alt="">
                                    </a>
                                    <div class="shop-btn-wrap">
                                        <a href="#" class="shop-btn custom-btn btn d-flex align-items-center"></a>
                                    </div>
                                </div>
                                <div class="shop-body">
                                    <h4 style="font-size: 22px;" >Benguela, Huambo</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-6">
                            <div class="shop-thumb">
                                <div class="shop-image-wra">
                                    <a href="#">
                                        <img src="{% static 'images/Namibe.jpeg' %}" class="shop-image img-fluid" alt="">
                                    </a>
                                    <div class="shop-btn-wrap">
                                        <a href="#" class="shop-btn custom-btn btn d-flex align-items-center"></a>
                                    </div>
                                </div>
                                <div class="shop-body">
                                    <h4 style="font-size: 22px;" >Namibe, Cunene</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-6">
                            <div class="shop-thumb">
                                <div class="shop-image-wra">
                                    <a href="#">
                                        <img src="{% static 'images/Nalange.jpeg' %}" class="shop-image img-fluid" alt="">
                                    </a>
                                    <div class="shop-btn-wrap">
                                        <a href="#" class="shop-btn custom-btn btn d-flex align-items-center"></a>
                                    </div>
                                </div>
                                <div class="shop-body">
                                    <h4 style="font-size: 22px;" >Malange, Menongue</h4>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-lg-4 col-md-6 col-6">
                            <div class="shop-thumb">
                                <div class="shop-image-wra">
                                    <a href="#">
                                        <img src="{% static 'images/Cabinda.jpeg' %}" class="shop-image img-fluid" alt="">
                                    </a>
                                    <div class="shop-btn-wrap">
                                        <a href="# class="shop-btn custom-btn btn d-flex align-items-center"></a>
                                    </div>
                                </div>
                                <div class="shop-body">
                                    <h4 style="font-size: 22px;" >Cabinda, Moxico</h4>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div>
            </section>
            
            <style>
                .shop-thumb {
                    transition: all 0.3s ease; /* Transição suave para o efeito */
                }
            
                .shop-thumb:hover {
                    padding: 10px; /* Aumenta o padding quando o mouse passa */
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
                    border-radius: 5px; /* Opcional: adiciona cantos arredondados */
                }
            </style>
            
            
            
            
        </main>

        <footer class="text-center py-3">
            <p>&copy; 2024 100 destinos. Todos os direitos reservados.</p>
        </footer>
        

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="% static 'js/click-scroll.js' %"></script>
        <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>